$tema: oceano;
$primary-color: black;
$secondary-color: gray;

@if $tema == oceano {
	$primary-color: red;
	$secondary-color: orange;
} @else if $tema == deserto {
	$primary-color: yellow;
	$secondary-color: purple;
}

p {
	color: $primary-color;
	background: $secondary-color;
}

@mixin type-1 ($size) {
	font-family: monospace;
	@if $size == normal {
		font-size: 1em;
		font-weight: normal;
	}
	@else if $size == large {
		font-size: 1.25em;
		font-weight: normal;
	}
	@else if $size == x-large {
		font-size: 1.5em;
		font-weight: bold
	}
}

@mixin shadow ($type) {
	@if $type == 1 {
		box-shadow: 5px 5px 5px 0 #000;
	}
	@else if $type == 2 {
		box-shadow: 15px 15px 15px 0 #333;
	}
	@else if $type == 3 {
		box-shadow: 25px 25px 25px 0 #666;
	}
}

@mixin d($device) {
	@if $device == m {
		@media (max-width: 300px) {
			@content;
		} 
	}

	@else if $device == t {
		@media (max-width: 600px) {
			@content;
		} 
	}

	@else if $device == s {
		@media (max-width: 900px) {
			@content;
		} 
	}
}


p {
	@include type-1 (normal);
}

h1 {
	@include type-1(x-large);
}

div {
	font-size: 1.5em;
	@include d(t) {
		font-size: 1.2em
	}
	@include d(m) {
		font-size: 1em
	}
	@include shadow(1);
}

div.active {
	@include d(t) {
		font-size: 1.2em
	}
	@include d(m) {
		font-size: 1em
	}
	@include shadow(3);
}

div {
	$width: 600px;
	@if $width > 400px {
		width: $width;
		height: $width * 1.5;
	} @else {
		width: $width;
		height: $width;
	}
}