$roxo: #8844EE;

@function grid ($colunas, $total: 12) {
	@return round(($colunas / $total) * 100%);
}

div {
	width: grid(5);
}

@function em ($pixels, $contexto: 16) {
	@return ($pixels / $contexto) * 1em;
}

a {
	color: white;
	background: $roxo;
	&:hover {
		background: lighten($roxo, 20%);
		color: darken($roxo, 80%);
		background: transparentize($roxo, .5);
	}
}

p {
	font-size: em(24);
}